@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  width: 100%;
  margin: 0 auto;

  @include main-layout-adaptive-container;

  @include laptop {
    padding-top: 100px;
  }

  @include desktop {
    padding-top: 100px;
  }
}

.title {
  color: $background-dark;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 40px;
}

.back {
  display: block;
  color: $teal;
  font-size: 13px;
  font-weight: 600;
  line-height: 23px;
  margin-top: 5px;
  text-decoration: underline;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.second {
  color: $dark-blue;
  font-size: 23px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 50px;
}

.description {
  color: $background-dark;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 7px;
}

.grid {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
  }

  @include laptop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 20px;
  }
}

.firstItem {
  @include mobile-base {
    display: none;
  }

  @include tablet {
    display: block;
  }

  @include laptop {
    display: none;
  }
}

.secondItem {
  @include mobile-base {
    display: none;
  }

  @include tablet {
    display: none;
  }

  @include laptop {
    display: block;
  }

  @include desktop {
    display: block;
  }
}

.threeItem {
  @include mobile-base {
    display: none;
  }

  @include tablet {
    display: none;
  }

  @include laptop {
    display: block;
  }

  @include desktop {
    display: block;
  }
}
