@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.header {
  padding-bottom: 100px;
}

.container {
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  background: $background-dark;
  transition: all 0.3s ease-in-out;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.logo {
  @include tablet {
    display: none;
  }

  &Full {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &Icon {
    max-width: 180px;
  }
}

.notification {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 90px;

  transition: opacity 250ms linear;

  &_disabled {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  display: none;
  gap: 40px;
}

.buttonLink {
  text-transform: uppercase;
  text-decoration: underline;
  color: $white;
  cursor: pointer;
  font-weight: 600;
  opacity: 0.5;
  @include transition(opacity);

  &:hover {
    opacity: 1;
  }
}

.link {
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
  font-weight: 600;
}

.menuIcon {
  width: 36px;
  height: 36px;
  position: absolute;
  right: 40px;
  opacity: 0;
  pointer-events: none;

  svg {
    min-width: 28px;
    min-height: 28px;
    transform: skew(-45deg) scale(0.2);
    transition: all 0.3s ease-in-out;
  }

  &_visible {
    opacity: 1;
    pointer-events: all;

    svg {
      transform: skew(0deg) scale(1);
    }
  }

  &_disabled {
    opacity: 0;
    pointer-events: none;
  }
}

@include tablet {
  .nav {
    display: flex;
  }
}

.logout {
  margin-top: auto;
  margin-left: auto;

  &Button {
    display: flex;
    align-items: center;
    gap: 31px;

    color: $white;
    font-family: "Lato";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
}
