// COLORS

$white: #ffffff;
$silver-white: #d5d4dd;
$silver: #aba9ba;
$background-light: #f5f5f5;
$background-dark: #3c3a59;
$dark-blue: #3c3a59;
$teal: #007481;
$light-cream: #fbf1e4;
$red: #fa6b63;
$text-silver: #545454;
$border-silver: #a7a7a7;
$text-placeholder: #818181;
$light: #707070;

// BREAK POINTS
$mobile-sm-width: 340px;
$mobile-base-width: 375px;
$mobile-md-width: 576px;
$tablet-width: 758px;
$laptop-width: 992px;
$desktop-width: 1144px;

// SIZES
$header-height: 100px;
$side-menu-width: 280px;
$footer-height: 120px;
