@import "../../../styles/variables.scss";

.notification {
  position: relative;
}

.notificationCounter {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 2px;
  right: 0px;
  width: 12px;
  height: 12px;
  background: $teal;
  border-radius: 50%;

  font-size: 7px;
  font-family: "Montsserat";
  color: $white;
}
