@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.container {
  width: 100%;
  margin: 0 auto;

  @include main-layout-adaptive-container;

  @include laptop {
    padding-top: 100px;
  }

  @include desktop {
    padding-top: 100px;
  }
}

.title {
  color: $dark-blue;
  font-size: 30px;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 14px;
}

.description {
  color: $text-silver;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 36px;
}
